{% extends 'base.html' %} <!--trae el modelo base de base.html-->
{% block title %}Agendar Hora{% endblock %} <!--es para colocar el titulo a la página-->

{% block content %}


<div class="container-fluid mt-3 ">
    <!--titulo de la página-->
    <h2 class="text-center display-3 text-info">AGENDE SU HORA!!</h2>
    <p class="text-center text-light">Agende aqui y cambie su look, en las manos de los mejores!!</p>
    
    <!--contenedor del formulario-->
    <div class="row d-flex justify-content-center m-5 ">
        <div class="col-8 border rounded border-3 " style="background-color:  #FFFFFF">          

            <!--formulario-->
            <div class="container-fluid m-3">
                {% if 'ok' in request.GET %}
                <div class="alert alert-success" role="alert">
                    Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto con usted
                </div>                    
                {% endif %}
                <form action="" method="post"> {% csrf_token %}
                    <div class="mb-3 form-group">
                        <label for="nombre" class="form-label ">Nombre</label>                        
                        <div class="input-group">{{form.nombre}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="apaterno" class="form-label ">Apellido Paterno</label>                        
                        <div class="input-group"> {{form.apaterno}}</div>                        
                        
                    </div>
                    <div class="mb-3">
                        <label for="amaterno" class="form-label ">Apellido materno</label>                        
                        <div class="input-group"> {{form.amaterno}}</div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label ">Correo</label>                        
                        <div class="input-group"> {{form.correo}}</div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="hora" class="form-label ">Hora para agendar </label>                        
                        <div class="input-group"> {{form.hora}}</div>
                        
                    </div>
    
                    <div class="mb-3">
                        <label for="comentario" class="form-label ">Comentario</label>                        
                        <div class="input-group">{{form.comentario}} </div>
                        
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="submit">Enviar</button>                        
                    </div>                     
                </form>

                

                
                
            </div>            
        </div>
    </div>
</div>


{% endblock %}