{% extends "base.html" %}{% load static %} {% load humanize %}
{% block title %}Barberia{% endblock title %}
{% block content %}

<div class="container">
    <h1 style="color: aliceblue;"> <span class="text-info">Gracias </span> por su compra, vuelta Pronto!</h1>
</div>

<div class="container">
<div class="alert alert-primary table-responsive" role="alert">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="row" colspan="4" class="text-center" style="display: contents;">CARRITO</th>
            </tr>
            <tr>
                <th scope="col">NOMBRE</th> 
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
            </tr>
        </thead>
        <body>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}
        <tr>
            <td>{{value.nombre}}</td>
            <td>${{value.acumulado}}</td>
            <td>{{value.cantidad}}</td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="4"> 
                    <div class="alert alert-danger text-center">Sin productos</div>
                </td> 
            </tr>
        {% endif %}
        <tr>
            <th scope="row">Total:</th>
            <td colspan="2">${{total_carrito |intcomma }}</td>
        </tr>
        </body>
    </table>
</div>
</div>


{% endblock content %}
