{% extends 'base.html' %} {% load static %}
{% block content %}





<main class="container">
    <div class="row m-5">
        <section class="col-md-5 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body">
                {% csrf_token %}
                <h1 class="text-center">INICIAR SESIÓN</h1>
                <h3 class="text-danger text-center">{{error}}</h3>
                
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" 
                    class="form-control" placeholder="Escriba su usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" 
                    class="form-control" placeholder="Escriba su contraseña" required>
                </div>
                <button class="btn btn-primary">
                    Ingresar
                </button>
                
                </form>
        </section>
    </div>
</main>

{% endblock %}